/* styles.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181d38;

}


.profile {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */

    /* margin-top: 100px; */
    margin: 100px;
    color: white;
    padding: 0 200px 0 200px;
    border-radius: 10px;
    box-shadow: 0 50px 60px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    color: whitesmoke;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    flex-grow: 1;
}

.profile-details .name {
    font-size: 24px;
    margin: 0;
}

.profile-details .username {
    color: whitesmoke;
    margin: 5px 0;
}

.profile-details .bio {
    font-size: 16px;
    color: whitesmoke;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section p {
    margin: 5px 0;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #1DA1F2;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.activity-feed p {
    color: #888;
}
