<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/login.css"> -->
</head>

<body style="
 background-image: url(/img/bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;">
<%- include('layouts/navbar') %>

    <div class="form-body">

        
    <div class="form-Container">
        <div class="sign-in-title">Login</div>
        <div class="sign-in-row">
            <button class="fbtn" type="button" onclick="window.location.href='/login/spotify'">Login with Spotify</button>
            <button class="fbtn" type="button" onclick="window.location.href='/login/youtube'">Login with YouTube music</button>
        </div>
        <div class="or-container">
            <div class="line"></div>
            <div class="or-text">OR</div>
            <div class="line"></div>
        </div>
        <form action="/login" method="POST">
            <div class="login">
                <label for="identifier">Username or Email</label>
                <input type="text" id="identifier" name="identifier" placeholder="Username or email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <div class="sign-btn">
                    <button class="s-btn" type="submit">Login</button>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">

                <p>Don't have an account <a href="/signup" style="color: whitesmoke; text-decoration: none; font-weight: bold;">Signup Here</a></p>
            </div>
        </form>
    </div>
    
</div>
    <footer>
        a G Praveen Kumar production <br>
        ConnectMusic &copy; 2024. All Rights Reserved
     </footer>
    <script src="/js/script.js"></script>
</body>
</html>
